*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
header {
  height: 189px;
  margin-bottom: 40px;
}
.logo {
  display: flex;
  align-items: flex-end;
  margin-bottom: 40px;
}
.logo_ramda {
  width: 334px;
  height: 79px;
  font-size: 80px;
  line-height: 94px;
  text-decoration: none;
  color: rgba(75, 202, 255, 1);
}
span {
  color: #000000;
}
.menu {
  display: flex;
  justify-content: center;
  background-color: #35444f;
}
.menu a {
  display: block;
  padding: 24px 38px 18px;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s;
  border-right: 1px solid #ffffff;
  color: #fff;
}
.menu a:hover {
  background-color: #222f3a;
}
.main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 54px;
}
.sidebar {
  display: flex;
  width: 344px;

  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
}
.aside-menu {
  display: flex;
  flex-direction: column;
}

.aside-menu a {
  padding: 27px 44px;
  font-size: 27px;
  line-height: 27px;
  text-decoration: none;
  transition: background-color 0.3s, translate 0.3s;
  color: #495863;
}
.aside-menu a:hover {
  background-color: #dbdbdb;
  translate: 30px;
}
.content {
  display: flex;
  flex-direction: column;
  width: 885px;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 529px;
  margin-bottom: 37px;
  transition: scale 0.3s;
  border: 1px solid #000000;
}
.img-logo {
  width: 320px;
  height: 381px;
}
.img-logo:hover {
  scale: 1.3;
}
.main-text {
  display: flex;
  flex-direction: column;
  gap: 34px;
}
.main-text p {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px 21px;
  margin-bottom: 30px;
  background: rgba(99, 105, 110, 0.48);
}

.footer-menu-list {
  display: flex;
  align-items: center;
  gap: 35px;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
.footer-menu-list a {
  font-size: 28px;
  line-height: 28px;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
  color: #0c1927;
}
.footer-menu-list a:hover {
  text-decoration: underline;
  color: rgba(49, 129, 166, 1);
}

.copyright {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  color: #010101;
}
